<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>이름</th>
                <th>아이디</th>
                <th>휴대폰</th>
                <th>이메일</th>
                <th>우편번호</th>
                <th>상세주소</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td th:text="${member.name}"></td>
                <td th:text="${member.createId}"></td>
                <td th:text="${member.phoneNumber}"></td>
                <td th:text="${member.email}"></td>
                <td th:text="${member.getAddress().getZipcodes()}"></td>
                <td th:text="${member.getAddress().getStreet()}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- /container -->

<div th:replace="fragments/footer :: footer"></div>
</body>
</html>