<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="footer">

    <style>
        .footer {
            width: 100%;
            background-color: #f5f5f5; /* footer 배경색 설정 */
            text-align: center; /* 내용 가운데 정렬 */
            margin-top: auto; /* 푸터를 페이지 맨 아래로 밀어냄 */
        }
    </style>

    <!-- FOOTER -->
    <footer class="footer py-3 bg-body-tertiary mt-auto">
        <div class="container">
            <span class="text-body-secondary">&copy; Reservation Shop .2024</span>
        </div>
    </footer>


</div>
</html>